*{ margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.gorditas-regular {
  font-family: "Gorditas", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gorditas-bold {
  font-family: "Gorditas", system-ui;
  font-weight: 700;
  font-style: normal;
}

h6 {
  font-family:'Poppins', sans-serif;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FDF9F5;
  color: #756f6f;
  font-style:normal;
}

header {
  background-color: #FFF5E1;
  padding: 25px;
  gap: 80px;
  text-align: center;
  position: relative;
  display: flex;
  z-index: 2;

}

#main-header {
  transition: background-color 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.sticky ul li a {
  animation: colorChange 5s infinite;
}

.sticky ul li:hover {
      cursor: pointer;
      color: #ff8c75;
      transform: translateY(-5px);
}

.sticky .gallardetes {
  display: none;
}

@keyframes colorChange {
  0% { color: #FF6F61; }
  40% { color: #FFD700; }
  80% { color: #A8BF6E; }
  100% { color:#ff7f50;};
}

h2 {
  animation: colorChange 5s infinite;
}

/* Logo del Header */

.logo {
  width: 100%;
  max-width: 180px;
  height:auto;
}
/* Estilos para la navegación */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para los enlaces de navegación */

.nav-links {
  list-style: none;
  padding: 20px;
  display: flex;
  gap: 50px;

}

.nav-links li a {
  text-decoration: none;
  font-family: 'Bobby Jones Soft', cursive;
  font-size: 20px;
  color: #ff7f50;

}

.nav-links a:hover {
  cursor: pointer;
  transform: translateY(-5px);
  color: #FFB300;   
  }


.gallardetes {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: auto;
  z-index: 10;
  transition: width 0.3s ease-in-out;
}



    .content {
    max-width: 1900px;
    margin: auto;
    padding: 50px 0px 0px 0px;
}

.emotion-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.03s, box-shadow 0.03s;
    cursor: pointer;
    width: 230px;
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card:focus {
  outline: 3px solid #ffcc00;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
    display:flex;
}


.btn {
  background-color: #8bc34a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

  .btn:hover {
  background-color: #EDC448;
  transform: translateY(-5px);
}

  .btn {
      overflow: hidden;
      transition: max-heigth 0.8s ease;
  }

  .intro-emociones {
    text-align: center;
  }

  .intro-emociones h2 {
    margin-top: 10px;
    font-size: 2.2rem;
    font-family: 'Gorditas', sans-serif;
  }

  .intro-emociones h3 {
    margin-bottom: 20px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
  }

  .h3 {
    font-family: 'Poppins',sans-serif;
    color:#4b4848;
  }

     /* Estilo de inicio de Sesión  */

.btn-login {
    background-color: #ff7f50;
    font-family: 'Bobby Jones Soft', cursive;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top:-5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
    .btn-login:hover {
    background-color: #FFB300;
  }
  
  /* Estilo del Modal */
  .modal {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.1);
    text-align: center;
  }

  /* Botón para cerrar*/
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color:#706c6c;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .modal.show {
    display: flex;
  }

  /* Estilos del Formulario */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-submit {
    background-color: #8bc34a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-submit:hover {
    background-color: #FFD700;
  }

   /* Sección de enviar pregunta */

  .emotion-feedback {
    background-color: #FFF5E1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(236, 156, 42, 0.1);
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  .emotion-feedback h2 {
    font-family: 'Poppins', sans-serif;
    color: #4A90E2;
    margin-bottom: 10px;
  }
  
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  textarea {
    width: 100%;
    height: 80px;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    resize: none;
  }
  
  textarea::placeholder {
    color: #9B9B9B;
    font-style:normal;
  }
  
  .save-buttonR {
    background-color:  #EDC448;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-buttonR:hover {
    background-color: #68ACDD;
  }

  .hiddenR {
    display: none;
  }

  #confirmationMessageR {
    color: #706c6c;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
  }

 /* Videos de las emociones*/

 .emotion-videos {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.emotion-videos h2 {
  font-size: 2rem;
  color: #4A90E2;
  margin-bottom: 0.5rem;
}

.emotion-videos p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2rem;
}
.emotion-videos h4 {
  margin: 1.5rem;

}
.video-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.video-card {
  position: relative;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  background-color: #FDF9F5;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 80px;
}

.play-button {
  position:absolute;
  top: 85%;
  left: 45%;
  margin: 10px;
  transform: translate(-50%, -50%);
  background-color: #EDC448;
  color: white;
  border: none;
  border-radius: 90%;
  width: 80px;
  height: 80px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #A8BF6E;
}

/* Estilos para el modal de video */
.video-modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.video-modal.hidden {
  display: none;
}

.video-modal iframe {
  width: 80%;
  height: 80%;
}

.video-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.background-videos {
  background-size: cover;
}

      

/* Estilos generales para la sección de Juegos*/
.emotion-games {
  text-align: center;
  margin-top: 30px;
}

.bubble-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.game-bubble {
  width: 225px;
  height: 225px;
  background-color: #FFF5E1;
  border-radius: 50%;
  margin-top: 45px;
  padding: 25px;
  margin-bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.game-bubble:hover {
  transform: scale(1.05);
}

.bubble-content {
  text-align: center;
}

.bubble-content img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.play-game-button {
  background-color: #EDC448;;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-game-button:hover {
  background-color: #ff9800;
}

/* Modal styles */
.game-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.game-modal iframe {
  width: 80%;
  height: 80%;
  border: none;
}

.game-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


/* Estilos del cuestionario*/

.emotion-quiz {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}


.quiz-container {
  padding-bottom: 20px;
  padding-top: 30px;
}

.question-card, .quiz-end {
  display: none;
  background-color: #FFF5E1;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.question-card.active {
  display: block;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.option {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffedcc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #ffd1a3;
}

.quiz-end {
  display: none;
}

.quiz-end.active {
  display: block;
}

.quiz-end {
  cursor: pointer;
}

.volver-empezar {
  background-color: #EDC448;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


footer {
  text-align: center;
  padding: 0;
  margin-top: 525px;
  z-index: 1;    

}

.parrafo {
  padding: 50px;
  padding-top: 90px;
}
  
  .social-icons{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 15px;
  }


  .social-icons {
  margin: 10px 10px;
  }

  .social-icons  {
   display: inline;
  
  }